<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head lang="en" th:include="fragments/head :: head">
   <title id="pageTitle">Sporty Shoes | Add Product</title>
</head>

<body>
<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
<header th:replace="fragments/header :: header"></header>
<main>
   <div class="main-wrapper">
      <div class="main-head">
         <div class="main-title">Add Product Detail</div>
         <a class="menu-item" href="/products">
            <span class="material-icons">arrow_back</span>
            Back
         </a>
      </div>
      <div class="product-form">
         <form th:action="@{/add-product}" th:object="${productForm}" method="post">
            <div class="product-form-controls">
               <div class="form-control">
                  <label for="product_name">Product Name</label>
                  <input id="product_name" type="text" name="product_name" placeholder="Enter Product Name"
                         th:value="${productId}">
               </div>
               <div class="form-control">
                  <label for="season">Season</label>
                  <select name="season" id="season">
                     <option>Select Season</option>
                     <option th:value="'all'" th:text="'All Season'" th:selected="${productSeason=='all'}"></option>
                     <option th:value="'summer'" th:text="Summer" th:selected="${productSeason=='summer'}"></option>
                     <option th:value="'monsoon'" th:text="Monsoon" th:selected="${productSeason=='monsoon'}"></option>
                     <option th:value="'winter'" th:text="Winter" th:selected="${productSeason=='winter'}"></option>
                  </select>
               </div>
               <div class="form-control">
                  <label for="brand">Brand</label>
                  <select name="brand" id="brand">
                     <option>Select Brand</option>
                     <option th:value="'adidas'" th:selected="${productBrand=='adidas'}" th:text="Adidas"></option>
                     <option th:value="'woodland'" th:selected="${productBrand=='woodland'}"
                             th:text="Woodland"></option>
                     <option th:value="'nike'" th:selected="${productBrand=='nike'}" th:text="Nike"></option>
                  </select>
               </div>
               <div class="form-control">
                  <label for="category">Category</label>
                  <select name="category" id="category">
                     <option>Select Category</option>
                     <option th:value="'men'" th:text="Men" th:selected="${productCategory=='men'}"></option>
                     <option th:value="'women'" th:text="Women" th:selected="${productCategory=='women'}"></option>
                     <option th:value="'kids'" th:text="Kids" th:selected="${productCategory=='kids'}"></option>
                  </select>
               </div>
               <div class="form-control">
                  <label for="price">Price</label>
                  <input id="price" type="number" name="price" placeholder="Enter Product Price"
                         th:value="${productPrice}">
               </div>
               <div class="form-control">
                  <label for="color">Color</label>
                  <input id="color" type="text" name="color" placeholder="Enter Product Color"
                         th:value="${productColor}">
               </div>
               <div class="form-control">
                  <label for="discount">Discount</label>
                  <input id="discount" type="number" name="discount" placeholder="Enter Product Discount"
                         th:value="${productDiscount}">
               </div>
            </div>
            <div class="form-buttons">
               <button type="submit">
                  <span class="material-icons">playlist_add</span>
                  Add Product
               </button>
            </div>
         </form>
      </div>
   </div>
</main>

<script>
   const form = document.querySelector('form');
   const submitBtn = form.querySelector('button[type="submit"]');

   setSubmitBtnState();
   form.addEventListener('change', setSubmitBtnState);

   function setSubmitBtnState() {
      const { product_name, season, brand, category, price, color, discount } = form.elements;
      const enableBtn = product_name.value && season.value && brand.value && category.value && price.value &&
         color.value && discount.value;
      if(enableBtn) {
         submitBtn.classList.remove('disabled');
      } else {
         submitBtn.classList.add('disabled');
      }
   }
</script>

</body>

</html>